.page-section{
    width: 100%;
}


.page-section__videoWrapper{
    padding: 0 4%;
    margin-top: 90px;
}


.page-section__videoWrapper__text{
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.page-section__videoWrapper__text>h1{
    font-size: 28.95px;
    font-weight: 500;
    line-height: 38px;
}
.page-section__videoWrapper__text>h2{
    font-size: 28.95px;
    font-weight: 700;
    line-height: 38px;
    color: #46086D;
}

.page-section__videoWrapper__wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18.41px;
    margin-top: 67px;
}




.page-section__userDataCardWrapper{
    width: 100%;
    margin: 85px 0 50px 0;
    padding: 0 6%;
}

.page-section__userDataCard{
    width: 100%;
    border: 1px solid #000000;
    border-radius: 43px;
    padding: 4% 0 0 4% ;
    background-color: white;
    overflow: hidden;
}

