.page-section{
    width: 100%;
}


.page-section__videoWrapper{
    padding: 0 4%;
    margin-top: 90px;
}


.page-section__videoWrapper__text{
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.page-section__videoWrapper__text>h1{
    font-size: 28.95px;
    font-weight: 500;
    line-height: 38px;
}
.page-section__videoWrapper__text>h2{
    font-size: 28.95px;
    font-weight: 700;
    line-height: 38px;
    color: #46086D;
}

.page-section__videoWrapper__wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18.41px;
    margin-top: 67px;
}




.page-section__userDataCardWrapper{
    width: 100%;
    margin-top: 85px;
    padding: 0 6%;
}

.page-section__userDataCard{
    width: 100%;
    border: 1px solid #000000;
    border-radius: 43px;
    padding: 4% 0 0 4% ;
}


.userDataCard__title{
    max-width: 58%;
    font-family: "Be Vietnam Pro", sans-serif;
}
.userDataCard__title>h1{
    font-size: 39.22px;
    font-weight: 700;
    line-height: 49.61px;
    color: #46086D;
    margin-bottom: 7px;
}
.userDataCard__title>p{
    font-size: 22.03px;
    font-weight: 400;
    line-height: 27.87px;
    color: #5F5F5F;
}

.userDataCard__wrap{
    display: grid;
    grid-template-columns: 2fr 1fr;
}