@media ( max-width: 1250px) {

    .page-section__videoWrapper{
        padding: 0 4%;
    }
    
    .page-section__videoWrapper__text>h1{
        font-size: 24.95px;
        line-height: 32px;
    }
    .page-section__videoWrapper__text>h2{
        font-size: 24.95px;
        line-height: 32px;
    }
   
    
    .page-section__videoWrapper__wrap{
        gap: 15px;
        margin-top: 57px;
    }
}


@media ( max-width: 1000px) {

    
    .page-section__videoWrapper__text>h1{
        font-size: 21.25px;
        line-height: 28.5px;
        
    }
    .page-section__videoWrapper__text>h2{
        font-size: 21.25px;
        line-height: 28.5px;
    }
   
    
    .page-section__videoWrapper__wrap{
        gap: 12px;
        margin-top: 46.5px;
    }
}



/* @media ( max-width: 750px) {

    .page-section__videoWrapper__wrap{
        grid-template-columns: 1fr 1fr;
        gap: 22px;
    }
}
 */

@media ( max-width: 750px) {
    .page-section__videoWrapper{
        padding: 0 6%;
    }

    .page-section__videoWrapper__wrap{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}



@media ( max-width: 500px) {

    .page-section__videoWrapper__wrap{
        margin-top: 36px;
        grid-template-columns: 1fr;
        row-gap: 18px;
    }
}