.homePage{
    width: 100%;
}


.homePage__contentWrapper{
    width: 100%;
    background: url("../../../photos/BackgroundImages/Grid\ layers\ \(1\).svg") ;
    background-size: 100% auto;
}













